<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BridgeManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BridgeManager.Properties.Settings>
            <setting name="path_appdata" serializeAs="String">
                <value>C:\Users\zdnek\AppData\Local\BridgeMananager</value>
            </setting>
            <setting name="ui_language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="path_bcs" serializeAs="String">
                <value>C:\Program Files (x86)\Bridgemate Pro\BMPro.exe</value>
            </setting>
            <setting name="misc_bcs_args" serializeAs="String">
                <value>/f:[{database}] /s /r</value>
            </setting>
        </BridgeManager.Properties.Settings>
    </userSettings>
</configuration>